@model Lanche // Recebe um lanche do HomeController, monta a div com as informacoes e anexa a view Home index
<div class="col-sm-4 col-md-4 col-lg-4">
    <br>
    <p><img src="@Model.ImagemUrl" class="img-fluid"></p>
    <h5>
        <a style="color:black" asp-controller="Lanche" asp-action="Details"
            asp-route-lancheId="@Model.LancheId">@Model.Nome</a>
    </h5>
    <p> <b>Preço:</b> @Model.Preco.ToString("c") </p>
    <p>@Model.DescricaoCurta</p>
    <p>@Model.Categoria.Descricao</p>
     <div >
        <p class="button">
            <a class="btn btn-primary" id="cartButton" 
                style="background-color:white;
                    color: black;
                    border-color:lightgray;
                    text-decoration: none;
                    display: inline-block; 
                    padding: 0.5rem 1rem; 
                    border-radius: 0.25rem; 
                    transition: background-color 0.3s ease;" 
                onmouseover="this.style.backgroundColor='gray'"
                onmouseout="this.style.backgroundColor='lightgray'"
            asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra"
            asp-route-lancheId="@Model.LancheId">Incluir no Carrinho</a>
        </p>
    </div>
</div>