@model LancheListViewModel; // Recebe a Lista de Lanches do LancheController


<div style="text-align:center">
    <h2> @ViewData["Titulo"]</h2>
    <p>@ViewData["Data"]</p>
</div>
<hr />
<h5><b> @ViewBag.Total</b> @ViewBag.totallanhces</h5>
<hr />


<div class="container">
    <div class="row">
        
        @foreach (var lanche in Model.lanches){// Passa Lanche por lanche para a View _lancheResumo
            <partial name="_LanchesResumo" for="@lanche"/>
        }
    </div>
</div>