@model CarrinhoCompraViewModels

<div class="container">
    <div class="row">
        <div>
            <img src="~/images/Full-Cart-icon.png" width="30" height="35" />
            <h4>Seu carrinho de compras : </h4>
        </div>
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th class="text-center">Quantidade</th>
                    <th class="text-center">Lanche</th>
                    <th class="text-center">Preço</th>
                    <th class="text-center">Subtotal</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.vmCarrinhoCompra.CarrinhoCompraItems){
                    <tr>
                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="RemoverItemNoCarrinhoCompra" asp-route-lancheId="@item.Lanche.LancheId">-</a>
                            @item.Quantidade
                            <a asp-controller="CarrinhoCompra" asp-action="AdicionarItemNoCarrinhoCompra" asp-route-lancheId="@item.Lanche.LancheId">+</a>
                            </td>
                        <td class="text-center">@item.Lanche.Nome</td>
                        <td class="text-center">@item.Lanche.Preco.ToString("c")</td>

                        <td class="text-center">
                            @((item.Quantidade * item.Lanche.Preco).ToString("c"))
                        </td>

                        <td class="text-center">
                            <a asp-controller="CarrinhoCompra" asp-action="Remover"
                                asp-route-lancheId="@item.Lanche.LancheId"><img src="~/images/delete.png"></a>                            
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan=3 style="text-align:right;padding-right:80px"><b>Total:</b></td>
                    <td colspan="3" class="text-right">
                      <b>  @Model.vmCarrinhoCompraTotal.ToString("c")</b>
                    </td>
                </tr>
            </tfoot>
        </table>

        <div class="text-right">
            <div class="btn-group">
                @if (Model.vmCarrinhoCompra.CarrinhoCompraItems.Count > 0){
                <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Encerrar Pedido</a>
                }
                &nbsp;&nbsp;&nbsp;
                <a class="btn btn-primary" asp-controller="Lanche" asp-action="List">Continuar Pedindo</a>
            </div>
        </div>
        <br />
    </div>
</div>